:root {
    @apply font-body;
    strong,
    b {
        @apply text-brand-01;
    }
}

@layer base {
    .text-h2 {
        @apply text-h2-m md:text-h2-d;
    }
    .text-p {
        @apply text-p-m md:text-p-d;
    }
}
